[package]
name = "fanrs"
version = "0.3.5-PRE"
authors = ["Rasmus Kaj <kaj@kth.se>"]
description = "Rust version of fantomenindex.krats.se"
edition = "2018"

build = "src/build.rs"

[build-dependencies]
ructe = { version = "0.7.2", features = ["sass", "mime03", "warp"] }

[dependencies]
bigdecimal = "0.0.14"
chrono = "0.4.6"
diesel = { version = "1.4.0", features = ["chrono", "numeric", "r2d2", "postgres"] }
dotenv = "0.14.1"
failure = "0.1.5"
io-result-optional = "0.1.2"
mime = "0.3"
reqwest = "0.9.9"
serde = { version = "1.0.88", features = ["derive"] }
scraper = "0.10.0"
slug = "0.1.4"
structopt = { version = "0.2.14", features = ["wrap_help"] }
time = "0.1.42"
warp = "0.1.9"
xmltree = "0.8.0"
