body {
    > header { border-bottom: solid .5px black; }
    > footer { border-top: solid .5px black; }
}

.issue {
    display: flex;
    > header {
	flex-basis: 10em;
	flex-shrink: 0;
    }
    .content {
	display: flex;
	flex-flow: row wrap;
	.episode {
	    flex-basis: 23em;
	    flex-grow: 1;
	    border: solid .5px rgba(black, 0.5);
	    margin: 0 0 .2em .2em;
	    padding: .2em;
	    h3, p {
		margin: 0 0 .2em 0;
	    }
	    p.teaser {
		font-style: italic;
	    }
	    p.info {
		font-size: 80%;
	    }
	}
    }
}

	       
