body {
    line-height: 1.5;
    > header { border-bottom: solid .5px black; }
    > footer { border-top: solid .5px black; }
}

h2 {
    margin: 0;
}

h3 .part {
    font-weight: lighter;
}

section {
    border-radius: .4em;
    border: solid .5px black;
    margin: .5em 0;
    padding: .2em .2em 0;
    background: #eee;

    .episode, .article, table {
	background: white;
	border: solid .5px rgba(black, 0.5);
	border-radius: .2em;
	margin: 0 0 .2em .2em;
	padding: .2em;
	h3, p {
	    margin: 0 0 .2em 0;
	}
	p.teaser {
	    font-style: italic;
	}
	p.info {
	    font-size: 80%;
	}
    }
    table {
	border-collapse: collapse;
	margin: .2em;
	width: -moz-available;
	tr:nth-child(2n+1) {
	    background: #fbfbfb;
	}
	tr:hover {
	    background: #eee;
	}
	th, td {
	    border: solid .4px rgba(black, 0.3);
	    padding: .1em .5em;
	    text-align: left;
	    &:nth-child(2) {
		text-align: right;
	    }
	}
    }
}

.issue {
    display: flex;
    > header {
	flex-basis: 10em;
	flex-shrink: 0;
    }
    .content {
	display: flex;
	flex-flow: row wrap;
	flex-grow: 1;
	div {
	    flex-basis: 23em;
	    flex-grow: 2;
	    &.episode.main {
		flex-basis: 42em;
		flex-grow: 5;
	    }
	    &.episode.noteaser {
		flex-basis: 17em;
		flex-grow: 1.5;
	    }
	    &.article {
		flex-basis: 14em;
		flex-grow: 1;
		background: rgba(white, 0.7);
	    }
	}
    }
}

section.front {
    header {
	margin: 0 .3em;
	display: flex;
	flex-flow: row wrap;
	align-items: baseline;
	p { margin: 0 1em; }
    }
}

.cloud {
    text-align: justify;
    a { white-space: pre; }
    .w0 { font-size: 64%; }
    .w1 { font-size: 71%; }
    .w2 { font-size: 79%; }
    .w3 { font-size: 88%; }
    .w4 { font-size: 98%; }
    .w5 { font-size: 108%; }
    .w6 { font-size: 120%; }
    .w7 { font-size: 134%; }
    .w8 { font-size: 149%; }
}
