html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    line-height: 1.5;
    display: flex;
    flex-flow: column;
    justify-content: space-between;

    > * {
        flex-shrink: 0;
    }
    > main {
        flex-grow: 0.5;
        margin: 0 1vw;
    }
    > header {
        border-bottom: solid .5px black;
        padding: 1ex 1vw;
        h1 {
            margin: .2em 0 0;
            font-size: 2.6em;
        }
        @media (min-width: 650px) {
            background-image: url(static_name("fa_lindahl_9915_png"));
            background-position: 100% 100%;
            background-repeat: no-repeat;
            background-size: 23vw auto;
            min-height: calc(#{"15vw - 2ex"});
            padding-right: 22vw;
            position: relative;
            &:after {
                content: "Vinjettbild: Hans Lindahl, ur Guldmakaren, Fa 15, 1999.";
                display: block;
                font: 60%/1 sans-serif;
                position: absolute;
                right: 20.2vw;
                bottom: 1px;
            }
        }
    }
    > footer {
        border-top: solid .5px black;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        padding: 1ex 1vw;
        p:nth-child(1) {
            flex-basis: 36em;
            flex-grow: 0.5;
        }
        img {
            width: 5em;
            height: auto;
            vertical-align: middle;
        }
    }
}
h1, h2, h3 {
    //font-family: "Serafettin Cartoon", "Domestic Manners", "Tangerine", "Grand Hotel", sans-serif;
}
h2 {
    margin: 0;
}
h3 .part {
    font-weight: lighter;
}
p { margin: 0 0 1ex; }

section {
    border-radius: .4em;
    border: solid .5px black;
    margin: .5em 0;
    padding: .2em .2em 0;
    background: #eee;

    section, .episode, .article, table, .covers .cover {
        background: white;
        border: solid .5px rgba(black, 0.5);
        border-radius: .2em;
        margin: 0 0 .2em .2em;
        padding: .2em;
        h3, p {
            margin: 0 0 .2em 0;
        }
        p.teaser {
            font-style: italic;
        }
        p.info {
            font-size: 80%;
        }
    }
    table {
        border-collapse: collapse;
        margin: .2em;
        width: -moz-available;
        tr:nth-child(2n+1) {
            background: #fbfbfb;
        }
        tr:hover {
            background: #eee;
        }
        th, td {
            border: solid .4px rgba(black, 0.3);
            padding: .1em .5em;
            text-align: left;
            &:nth-child(2) {
                text-align: right;
            }
        }
    }
}

section.searchresults.tags {
    display: flex;
    flex-flow: row wrap;
    h2 { flex-basis: 100%; }
    section {
        flex-basis: 19em;
        flex-grow: 1;
        h3 { display: inline }
        button {
            background: #eee;
            border: outset 0.6px #eee;
            border-radius: .2em;
        }
    }
}

.covers {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    .cover {
        flex-grow: .1;
        text-align: center;
        img { width: 10em; }
    }
}

.issue {
    display: flex;
    > header {
        flex-basis: 10em;
        flex-shrink: 0;
        img {
            width: 10em;
            height: auto;
        }
        p {
            font-size: 90%;
        }
    }
    .content {
        display: flex;
        flex-flow: row wrap;
        flex-grow: 1;
        div {
            flex-basis: 28em;
            flex-grow: 2;
            &.episode.main {
                flex-basis: 42em;
                flex-grow: 5;
            }
            &.episode.noteaser {
                flex-basis: 20em;
                flex-grow: 1.5;
            }
            &.article {
                flex-basis: 15em;
                flex-grow: 1;
                background: rgba(white, 0.7);
            }
        }
    }
}

section.front {
    header {
        margin: 0 .3em;
        display: flex;
        flex-flow: row wrap;
        align-items: baseline;
        p { margin: 0 1em; }
    }
}
section.titles h2::before {
    content: url(static_name("prat.svg"));
    display: inline-block;
    height: 1em;
    margin-right: 1ex;
    vertical-align: text-top;
    width: 1em;
}
section.refkeys h2::before {
    content: url(static_name("goda.svg"));
    display: inline-block;
    height: 1em;
    margin-right: 1ex;
    vertical-align: text-top;
    width: 1em;
}
section.creators h2::before {
    content: url(static_name("creator.svg"));
    display: inline-block;
    height: 1em;
    margin-right: 1ex;
    vertical-align: text-top;
    width: 1em;
}

section #search {
    margin: .4rem .5rem;
}

#search {
    div.q {
        display: flex;
        flex-flow: row nowrap;
        input[name=q] {
            border-radius: .4em 0 0 .4em;
            border-width: 1px;
            flex-grow: 12;
            padding: .2rem .5rem;
            z-index: 18;
        }
        input[type=submit] {
            border-radius: 0 .4em .4em 0;
            border-width: 1px;
            padding: .2rem .5rem;
            flex-grow: 1;
        }
    }
    div.list {
        border-bottom: solid 1px #888;
        box-shadow: .2em .1em .5em rgba(0, 0, 0, .7);
        display: block;
        margin-left: .5em;
        position: absolute;
        z-index: 17;
        :link, :visited {
            background: rgba(white,0.95);
            border-color: #888;
            border-style: solid;
            border-width: 1px 1px 0;
            display: block;
            padding: .2em .5em;
            color: black;
            text-decoration: none;
        }
    }
    div.list a:focus {
        background-color: #aaaaff;
    }
    div.refs {
        display: flex;
        flex-flow: row wrap;
        label {
            background: rgba(white,0.7);
            border-radius: .3em;
            border: solid 1px rgba(0,0,0,0.3);
            line-height: 1.2;
            margin: .2em .3em .2em 0;
            padding: .1em .3em; // .1em 1.9em;
            input {
                line-height: 1;
                vertical-align: middle;
            }
        }
    }
    div.list a.hit,
    div.refs label {
        &:before {
            display: inline-block;
            line-height: 1;
            margin-right: .2em;
            vertical-align: middle;
            height: 1.1em;
            width: 1.1em;
        }
        &.f:before, &.k:before {
            content: url(static_name("goda.svg"));
        }
        &.t:before {
            content: url(static_name("prat.svg"));
        }
        &.p:before {
            content: url(static_name("creator.svg"));
        }
    }
    .help {
        font-size: 80%;
        margin: .3em 0;
    }
}

.cloud {
    text-align: justify;
    a { white-space: pre; }
    .w0 { font-size: 64%; }
    .w1 { font-size: 71%; }
    .w2 { font-size: 79%; }
    .w3 { font-size: 88%; }
    .w4 { font-size: 98%; }
    .w5 { font-size: 108%; }
    .w6 { font-size: 120%; }
    .w7 { font-size: 134%; }
    .w8 { font-size: 149%; }
}

.episode ul, ul.allcovers {
    column-width: 22em;
    column-gap: 2em;
    li {
        page-break-inside: avoid;
        break-inside: avoid;
    }
}

table.sortable thead th {
    &::after {
        content: "  ";
    }
    &.dir-u::after {
        content: " \025b4";
    }
    &.dir-d::after {
        content: " \025be";
    }
}

div.wrapfour {
    align-items: start;
    display: flex;
    flex-flow: row wrap;
    margin: 0 -.6vw;
    section {
        flex-basis: 20em;
        flex-grow: 1;
        margin: .5em .6vw;
        min-width: 35%;
        ul {
            margin: .5em 0;
            padding-left: 1.8em;
        }
    }
}
