@use crate::models::creator_contributions::CreatorContributions;
@use super::page;
@use super::statics::sortable_js;

@(creators: &[CreatorContributions])
@:page("Serieskapare i Fantomentidningen", {}, {
<section>
  <table class="sortable creators">
    <thead>
      <tr><th class=" dir-d ">Namn</th>
	<th><span class="ifwide">Antal</span> serier</th>
	<th><span class="ifwide">Antal</span> omslag</th>
	<th><span class="ifwide">Antal</span> artiklar</th>
	<th>Först</th><th>Senast</th></tr>
    </thead>
    <tbody>
      @for c in creators {
      <tr>
        <td>@c.creator</td>
        <td>@c.n_episodes</td><td>@c.n_covers</td><td>@c.n_articles</td>
        @if let Some(i) = &c.first_issue {<td data-sort="@i.sortno()">@i</td>} else {<td>}
        @if let Some(i) = &c.latest_issue {<td data-sort="@i.sortno()">@i</td>} else {<td>}
      </tr>
      }
    </tbody>
  </table>
</section>
<script type="application/javascript" async src="/s/@sortable_js.name"></script>
})
