@use crate::models::{IssueRef, Creator};
@use super::page;
@use super::statics::sortable_js;

@(creators: &[(Creator, i64, Option<IssueRef>, Option<IssueRef>)])
@:page("Serieskapare i Fantomentidningen", {}, {
<section>
  <table class="sortable">
    <thead>
      <tr><th class=" dir-d ">Titel</th><th>Antal episoder</th><th>Först</th><th>Senast</th></tr>
    </thead>
    <tbody>
      @for (creator, n, first, last) in creators {
      <tr>
	<td>@creator</td><td>@n</td>
	@if let Some(i) = first {<td data-sort="@i.sortno()">@i</td>} else {<td/>}
	@if let Some(i) = last {<td data-sort="@i.sortno()">@i</td>} else {<td/>}
      </tr>
      }
    </tbody>
  </table>
</section>
<script type="application/javascript" async src="/s/@sortable_js.name"></script>
})
