@use crate::models::{Article, Creator, CreatorSet, IssueRef, RefKeySet, Title};
@use crate::server::{FullEpisode, PartsPublished};
@use super::{epmisc, page};
@use std::collections::BTreeMap;

@(creator: &Creator, about: &[(Article, RefKeySet, CreatorSet, Vec<IssueRef>)], covers: &[(IssueRef, Option<i16>)], all_covers: &[(IssueRef, Option<i16>)], episodes: &[(Title, FullEpisode)], articles_by: &[(Article, RefKeySet, CreatorSet, Vec<IssueRef>)], o_roles: &str, other: &BTreeMap<Title, Vec<(Option<String>, PartsPublished)>>)
@:page(&creator.name, {}, {
  @if !about.is_empty() {
  <section>
    <h2>Artiklar</h2>
    @for (article, refs, creators, pubs) in about {
    <div class="article">
      <h3>@article.title@if let Some(ref s) = article.subtitle {: @s}</h3>
      @refs
      @creators
      @if let Some(ref note) = article.note { <p class="info note">@note</p> }
      @if let Some((last_pub, pubs)) = pubs.split_last()
      {<p class="info pub">Publicerad i: @for p in pubs {@p, }@last_pub.</p>}
    </div>
    }
  </section>
  }
  @if !covers.is_empty() {
  <section>
    <h2>Omslagsbilder</h2>
    @if !all_covers.is_empty() {
    <p>@creator.name har skapat minst @all_covers.len() omslag till
    Fantomentidningen. Här visas några av de bästa, en så komplett
    lista som indexet förmår följer nedan.</p>
    }
    <div class="covers">
      @for (issue, best) in covers {
      <div class="cover@if let Some(best) = best { best@best}">
	<p>@issue</p>
	<img src="@issue.cover_url()">
	@if let Some(best) = best {<p class="info">Nr @best i bästa omslag.</p>}
      </div>
      }
    </div>
    @if !all_covers.is_empty() {
    <ul class="allcovers">
      @for (issue, best) in all_covers {
      <li>@issue@if let Some(best) = best {, nr @best i bästa omslag}.</li>
      }
    </ul>
    }
  </section>
  }
  @if !episodes.is_empty() {
  <section>
    <h2>Episoder</h2>
    @for (title, fe) in episodes {
    <section class="episode">
      <h3><a href="/titles/@title.slug">@title.title</a>@if let Some(ref h) = fe.episode.episode {: @h}</h3>
      @:epmisc(&fe)
    </section>
    }
  </section>
  }
  @if !articles_by.is_empty() {
  <section>
    <h2>Artiklar</h2>
    @for (article, refs, creators, pubs) in articles_by {
    <div class="article">
      <h3>@article.title@if let Some(ref s) = article.subtitle {: @s}</h3>
      @refs
      @creators
      @if let Some(ref note) = article.note { <p class="info note">@note</p> }
      @if let Some((last_pub, pubs)) = pubs.split_last()
      {<p class="info pub">Publicerad i: @for p in pubs {@p, }@last_pub.</p>}
    </div>
    }
  </section>
  }
  @if !other.is_empty() {
  <section>
    <h2>Medverkat som @o_roles</h2>
    @for (title, episodes) in other {
    <div class="episode">
      <h3><a href="/titles/@title.slug">@title.title</a></h3>
      <ul>
	@for (episode, pubs) in episodes {
	<li>@if let Some(e) = episode {@e }@pubs.small()</li>
	}
      </ul>
    </div>
    }
  </section>
  }
})
