@use crate::models::{Creator, RefKey, Title};
@use crate::server::search::SearchQuery;
@use super::{page, searchbox};

@(n: i64, all_fa: &[RefKey], years: &[i16], titles: &[(Title, i64, u8)], refkeys: &[(RefKey, i64, u8)], creators: &[(Creator, i64, u8)])
@:page("Rasmus Fantomenindex", {
  <p>Här listas innehållet i @n av de drygt 1600 svenska Fantomentidningar som kommit ut. Du kan välja att titta på en årgång, någon företeelse i Fantomenserien, eller någon serieskapare i listorna nedan.</p>
}, {
  <div class="wrapfour">
  <section class="front">
    <header><h2>Fantomenätten</h2></header>
    <p class="article">
      @if let Some((last_fa, all_fa)) = all_fa.split_last()
      {@for fa in all_fa {<a href="@fa.url()">@fa.short()</a>, }
      <a href="@last_fa.url()">@last_fa.short()</a>.}
    </p>
  </section>
  <section class="front search">@:searchbox(&SearchQuery::empty())</section>
  <section class="front">
    <header><h2>Årgångar</h2></header>
    <p class="article">
      @if let Some((last_year, years)) = years.split_last()
      {@for year in years {<a href="/@year">@year</a>, }
      <a href="@last_year">@last_year</a>.}
    </p>
  </section>
  <section class="front">
    <header><h2>Se även</h2></header>
    <div class="article">
      <ul>
      <li><a href="http://www.phantomwiki.org/">Phantom Wiki</a></li>
      <li><a href="http://schapter.org/">Scandinavian Chapter</a>
        of the Lee Falk Memorial Bengali Explorers Club</li>
      <li><a href="http://www.fantomen.com/">Fantomen.com</a></li>
      <li><a href="http://serieforum.se">Serieforum.se</a> &#8211; för
        samlare och läsare</li>
      <li><a href="https://rasmus.krats.se/">Rasmus Kaj</a> &#8211;
        jag som gör det här indexet</li>
      </ul>
    </div>
  </section>
  </div>
  <section class="front titles">
    <header>
      <h2>Serier</h2>
      <p>(<a href="/titles/">Alla förekommande serier</a>)</p>
    </header>
    <p class="article cloud">
      @if let Some(((title, n, w), titles)) = titles.split_last()
      {@for (title, n, w) in titles
      {<a href="/titles/@title.slug" class="w@w" data-n="@n">@title.title</a>, }
      <a href="/titles/@title.slug" class="w@w" data-n="@n">@title.title</a>. }
    </p>
  </section>
  <section class="front refkeys">
    <header>
      <h2>Personer och företeelser i Fantomens värld</h2>
      <p>(<a href="/what/">Alla taggar</a>)</p>
    </header>
    <p class="article cloud">
      @if let Some(((refkey, n, w), refkeys)) = refkeys.split_last()
      {@for (refkey, n, w) in refkeys
      {<a href="@refkey.url()" class="w@w" data-n="@n">@refkey.name()</a>, }
      <a href="@refkey.url()" class="w@w" data-n="@n">@refkey.name()</a>. }
    </p>
  </section>
  <section class="front creators">
    <header>
      <h2>Serieskapare</h2>
      <p>(<a href="/who/">Alla serieskapare</a>)</p>
    </header>
    <p class="article cloud">
      @if let Some(((creator, n, w), creators)) = creators.split_last()
      {@for (creator, n, w) in creators
      {<a href="/who/@creator.slug" class="w@w" data-n="@n">@creator.name</a>, }
      <a href="/who/@creator.slug" class="w@w" data-n="@n">@creator.name</a>. }
    </p>
  </section>
})
