@use crate::models::{Creator, Issue, IssueRef};
@use crate::server::{PublishedInfo, PublishedContent::{EpisodePart, Text}, YearLinks};
@use super::{artmisc, epmisc, page};

@(year_links: &YearLinks, issue: &Issue, cover_by: &[Creator], contents: &[PublishedInfo], pubyear: &[IssueRef])
@:page(&format!("Fantomen {}/{}", issue.number_str, issue.year), {
  <p>
  @if let Some(ref pages) = issue.pages {<span>@pages sidor.</span>}
  @if let Some(ref price) = issue.price {<span>Pris @price.</span>}
  <p>Se även @year_links.</p>
}, {
  <section class="issue" id="i@issue.number">
    <header>
      <h2>Nr @issue.number_str</h2>
      <div class="info cover@if let Some(b) = issue.cover_best { best@b}">
	<span class="img"><img src="/c/f@issue.year-@issue.number&#46;jpg" alt=""></span>
	<div class="innerinfo">
	  @if let Some((last_c, creators)) = cover_by.split_last()
	  {<p>Omslag av @for c in creators {@c, }@last_c.</p>}
	  @if let Some(b) = issue.cover_best {<p>Nr @b i bästa omslag.</p>}
	  @if issue.pages.is_some() || issue.price.is_some() {<p class="pp">
	    @if let Some(ref pages) = issue.pages {<span>@pages sidor</span>}
	    @if let Some(ref price) = issue.price {<span>Pris @price</span>}
	  </p>}
	</div>
      </div>
    </header>
    <div class="content">
      @for item in contents {
      <section class="@item.classnames()" @if let Some(seqno) = item.seqno {data-seq="@seqno"}>
	@match &item.content {
	EpisodePart{title, episode, part, best_plac, label} => {
	@if label != "" {<p class="info label">@label:</p> }
	<h3><a href="/titles/@title.slug">@title.title</a>@if let Some(ref e) = episode.episode.episode {: @e} @part</h3>
	@:epmisc(&episode)
	@if let Some(plac) = best_plac { <p class="info best best@plac">Nummer @plac i omröstningen om bästa äventyr @issue.year.</p>}
	}
	Text(article) => {@:artmisc(article)}
	}
      </section>
      }
    </div>
  </section>

  <section>
    <h2>Alla nummer @issue.year</h2>
    <p class="yearcovers">@for i in pubyear {
      <a href="/@i.year/@i.number.first()" title="Fa @i.number/@i.year"><img src="@i.cover_url()" alt="@i.number"></a>
    }</p>
  </section>
})
