@use super::statics::{goda_svg, sc_png, style_css};
@(title: &str, description: &str, inhead: Content, content: Content)

<!doctype html>
<html lang="sv">
  <head>
    <title>@title@if !title.contains("index") { - Rasmus Fantomenindex}</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="/s/@style_css.name"/>
    <link rel="shortcut icon" href="/s/@goda_svg.name"/>
    <meta name="description" content="@description"/>
  </head>
  <body>
    <header>
      @if !title.contains("index") {
      <nav>
	<a href="/">Rasmus Fantomenindex</a>;
	<a href="/titles/">Serier</a>,
	<a href="/what/">Taggar</a>,
	<a href="/who/">Serieskapare</a>,
	<a href="/search">Sök</a>.
      </nav>
      }
      <h1>@title</h1>
      @:inhead()
    </header>

    <div class="main">@:content()</div>

    <footer>
      <p>Den svenska Fantomentidningen ges ut av Egmont Publishing,
	redaktör är Andreas Eriksson. Fantomen © King Features Syndicate Inc.
	Dessa sidor är gjorda av Rasmus Kaj med
	<a href="https://github.com/kaj/fanrs">fanrs
	@env!("CARGO_PKG_VERSION")</a> och fritt
	tillgängliga.
	Omslagsbilder ägs av sina tecknare / förlag, och presenteras
	här genom <a href="http://www.phantomwiki.org/">Phantom wiki</a>.</p>
      <p><a href="http://schapter.org/"><img src="/s/@sc_png.name"
        alt="Scandinavian Chapter of the Lee Falk Memorial Bengali Explorers Club"
        width="131" height="131"/></a></p>
    </footer>
  </body>
</html>
