@use super::statics::{goda_svg, style_css};
@(title: &str, content: Content)

<!doctype html>
<html>
  <head>
    <title>@title</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="/s/@style_css.name"/>
    <link rel="shortcut icon" href="/s/@goda_svg.name"/>
  </head>
  <body>
    <header>
      <p><a href="/">Fantomenindex.krats.se</a></p>
    </header>
    <main>
      @:content()
    </main>
    <footer>
      <p>Den svenska Fantomentidningen ges ut av Egmont Publishing,
	redaktör är Mikael Sol. Fantomen © King Features Syndicate Inc.
	Dessa sidor är gjorda av Rasmus Kaj med
	<a href="https://github.com/kaj/fanrs">fanrs
	@env!("CARGO_PKG_VERSION")</a> och fritt
	tillgängliga.
	Omslagsbilder ägs av sina tecknare / förlag, och presenteras
	här genom <a href="http://www.phantomwiki.org/">Phantom wiki</a>.</p>
    </footer>
  </body>
</html>
