@use crate::models::{Article, CreatorSet, IssueRef, RefKey, RefKeySet, Title};
@use crate::server::FullEpisode;
@use super::{artmisc, epmisc, page};

@(refkey: &RefKey, articles: &[(Article, RefKeySet, CreatorSet, Vec<IssueRef>)], episodes: &[(Title, FullEpisode)])
@:page(&refkey.name(), {}, {
  @if !articles.is_empty() {
  <section>
    <h2>Artiklar</h2>
    @for (article, refs, creators, pubs) in articles {
    <div class="article">
      @:artmisc(article, refs, creators)
      @if let Some((last_pub, pubs)) = pubs.split_last()
      {<p class="info pub">Publicerad i: @for p in pubs {@p, }@last_pub.</p>}
    </div>
    }
  </section>
  }
  @if !episodes.is_empty() {
  <section>
    <h2>Episoder</h2>
    @for (title, fe) in episodes {
    <section class="episode">
      <h3><a href="/titles/@title.slug">@title.title</a>@if let Some(ref h) = fe.episode.episode {: @h}</h3>
      @:epmisc(&fe)
    </section>
    }
  </section>
  }
})
