@use crate::models::{Article, CreatorSet, Episode, IssueRef, RefKey, RefKeySet, Title};
@use crate::server::PartsPublished;
@use super::{epmisc, page};

@(refkey: &RefKey, articles: &[(Article, RefKeySet, CreatorSet, Vec<IssueRef>)], episodes: &[(Title, Episode, RefKeySet, CreatorSet, PartsPublished)])
@:page(&refkey.name(), {}, {
  @if !articles.is_empty() {
  <section>
    <h2>Artiklar</h2>
    @for (article, refs, creators, pubs) in articles {
    <div class="article">
      <h3>@article.title@if let Some(ref s) = article.subtitle {: @s}</h3>
      @refs
      @creators
      @if let Some(ref note) = article.note { <p class="info note">@note</p> }
      @if let Some((last_pub, pubs)) = pubs.split_last()
      {<p class="info pub">Publicerad i: @for p in pubs {@p, }@last_pub.</p>}
    </div>
    }
  </section>
  }
  @if !episodes.is_empty() {
  <section>
    <h2>Episoder</h2>
    @for (title, episode, refs, creators, pubs) in episodes {
    <div class="episode">
      <h3><a href="/titles/@title.slug">@title.title</a>@if let Some(ref h) = episode.episode {: @h}</h3>
      @:epmisc(episode, refs, creators, pubs)
    </div>
    }
  </section>
  }
})
