@use crate::models::{IssueRef, RefKey};
@use super::page;

@(titles: &[(RefKey, i64, Option<IssueRef>, Option<IssueRef>)])
@:page("Serier", {
<h1>Personer, platser och företeelser i Fantomens värld</h1>
<section>
  <table>
    <thead>
      <tr><th>Titel</th><th>Antal episoder</th><th>Först</th><th>Senast</th></tr>
    </thead>
    <tbody>
      @for (refkey, n, first, last) in titles {
      <tr><td>@refkey</td><td>@n</td><td>@if let Some(first) = first {@first}</td><td>@if let Some(last) = last {@last}</td></tr>
      }
    </tbody>
  </table>
</section>
})
