@use crate::models::{IssueRef, RefKey};
@use super::page;
@use super::statics::sortable_js;

@(titles: &[(RefKey, i64, Option<IssueRef>, Option<IssueRef>)])
@:page("Personer, platser och företeelser i Fantomens värld", {}, {
<section>
  <table class="sortable">
    <thead>
      <tr><th class=" dir-d ">Titel</th><th><span class="ifwide">Antal</span> episoder</th><th>Först</th><th>Senast</th></tr>
    </thead>
    <tbody>
      @for (refkey, n, first, last) in titles {
      <tr>
	<td>@refkey</td><td>@n</td>
	@if let Some(i) = first {<td data-sort="@i.sortno()">@i</td>} else {<td/>}
	@if let Some(i) = last {<td data-sort="@i.sortno()">@i</td>} else {<td/>}
      </tr>
      }
    </tbody>
  </table>
</section>
<script type="application/javascript" async src="/s/@sortable_js.name"></script>
})
