@use super::{artmisc_html, epmisc_html, page_html, searchbox_html};
@use crate::models::{Creator, RefKey, Title};
@use crate::server::search::{Hit, SearchQuery};

@(q: &SearchQuery, titles: &[Title], creators: &[Creator], refkeys: &[RefKey], hits: &[Hit])
@:page_html("Sök", "Här kan du söka i allt data som finns i Fantomenindexet.", {@:searchbox_html(q)}, {
  @if !titles.is_empty() {
  <section class="searchresults tags titles">
    <h2>Serier</h2>
    @for title in titles {
    <section class="title">
      <h3><a href="/titles/@title.slug">@title.title</a></h3>
      <button type="submit" form="search" name="t" value="@title.slug">+</button>
    </section>
    }
  </section>
  }
  @if !creators.is_empty() {
  <section class="searchresults tags creators">
    <h2>Serieskapare</h2>
    @for creator in creators {
    <section class="creator">
      <h3>@creator</h3>
      <button type="submit" form="search" name="p" value="@creator.slug">+</button>
    </section>
    }
  </section>
  }
  @if !refkeys.is_empty() {
  <section class="searchresults tags refkeys">
    <h2>Referenser</h2>
    @for refkey in refkeys {
    <section class="refkey">
      <h3>@refkey</h3>
      <button type="submit" form="search" name="@refkey.letter()" value="@refkey.slug()">+</button>
    </section>
    }
  </section>
  }
  @if !hits.is_empty() {
  <section class="searchresults">
    <h2>Episoder och artiklar</h2>
    @for hit in hits {
      @if let Hit::Episode{ title, fe } = hit {
        <section class="episode @fe.bestclass()">
          <h3><a href="/titles/@title.slug">@title.title</a>@if let Some(ref h) = fe.episode.episode {: @h}</h3>
          @:epmisc_html(fe)
        </section>
      }
      @if let Hit::Article{ article, published } = hit {
        <section class="article">
          @:artmisc_html(article)
          @if let Some((last_pub, pubs)) = published.split_last()
          {<p class="info pub">Publicerad i: @for p in pubs {@p, }@last_pub.</p>}
        </section>
      }
    }
  </section>
  }
})
