@use crate::server::search::SearchQuery;
@use super::statics::search_js;

@(query: &SearchQuery)
<form id="search" action="/search">
  <div class="q">
    <input type="search" name="q" value="@query.q"><input type="submit" value="Sök">
  </div>
  <div class="refs">
    @for t in &query.t {
    <label class="t">@t.title <input type="checkbox" checked name="t" value="@t.slug"></label>
    }
    @for p in &query.p {
    <label class="p">@p.name <input type="checkbox" checked name="p" value="@p.slug"></label>
    }
    @for k in &query.k {
    <label class="k">@k.name() <input type="checkbox" checked name="@k.letter()" value="@k.slug()"></label>
    }
  </div>
  <p class="help">Du kan fritextsöka i de texter som beskriver serier
    och artiklar, noveller, etc.
    <span class="js">Du verkar ha javascript avstängt.
    Det går bra att söka ändå, men med javascript kan du
    filtrera sökningen smidigare.</span>
  </p>
  <script type="application/javascript" async src="/s/@search_js.name"></script>
</form>
