@use crate::models::{Article, Creator, RefKey, Title};
@use crate::server::search::SearchQuery;
@use crate::server::FullEpisode;
@use super::{epmisc, page, searchbox};

@(q: &SearchQuery, titles: &[Title], creators: &[Creator], refkeys: &[RefKey], episodes: &[(Title, FullEpisode)])
@:page("Sök", {@:searchbox(q)}, {
  @if !titles.is_empty() {
  <section class="searchresults tags titles">
    <h2>Serier</h2>
    @for title in titles {
    <section class="title">
      <h3><a href="/titles/@title.slug">@title.title</a></h3>
      <button type="submit" form="search" name="t" value="@title.slug">+</button>
    </section>
    }
  </section>
  }
  @if !creators.is_empty() {
  <section class="searchresults tags creators">
    <h2>Serieskapare</h2>
    @for creator in creators {
    <section class="creator">
      <h3>@creator</h3>
      <button type="submit" form="search" name="p" value="@creator.slug">+</button>
    </section>
    }
  </section>
  }
  @if !refkeys.is_empty() {
  <section class="searchresults tags refkeys">
    <h2>Referenser</h2>
    @for refkey in refkeys {
    <section class="refkey">
      <h3>@refkey</h3>
      <button type="submit" form="search" name="@refkey.letter()" value="@refkey.slug()">+</button>
    </section>
    }
  </section>
  }
  @if !episodes.is_empty() {
  <section class="searchresults">
    <h2>Episoder</h2>
    @for (title, fe) in episodes {
    <section class="episode">
      <h3><a href="/titles/@title.slug">@title.title</a>@if let Some(ref h) = fe.episode.episode {: @h}</h3>
      @:epmisc(&fe)
    </section>
    }
  </section>
  }
})
