@use crate::models::{IssueRef, Title};
@use super::page;
@use super::statics::sortable_js;

@(titles: &[(Title, i64, IssueRef, IssueRef)])
@:page("Serier", {}, {
<section>
  <table class="sortable">
    <thead>
      <tr><th class=" dir-d ">Titel</th><th><span class="ifwide">Antal</span> episoder</th><th>Först</th><th>Senast</th></tr>
    </thead>
    <tbody>
      @for (title, n, first, last) in titles {
      <tr><td><a href="@title.slug">@title.title</a></td><td>@n</td>
	<td data-sort="@first.sortno()">@first</td>
	<td data-sort="@last.sortno()">@last</td>
      </tr>
      }
    </tbody>
  </table>
</section>
<script type="application/javascript" async src="/s/@sortable_js.name"></script>
})
