@use models::{Article, Episode, Title};
@use templates::page;

@(title: &Title, articles: &[Article], episodes: &[Episode])
@:page(&title.title, {
  <h1>@title.title</h1>
  @if !articles.is_empty() {
  <section>
    <h2>Artiklar</h2>
    @for article in articles {
    <div class="article">
      <h3>@article.title@if let Some(ref s) = article.subtitle {: @s}</h3>
      @if let Some(ref note) = article.note { <p class="info note">@note</p> }
    </div>
    }
  </section>
  }
  <section>
    <h2>Episoder</h2>
    @for episode in episodes {
    <div class="episode">
      <h3>@if let Some(ref h) = episode.episode {@h} else {@title.title}</h3>
      @if let Some(ref info) = episode.teaser { <p>@info</p> }
      @if let Some(ref info) = episode.note { <p>@info</p> }
      @if let Some(ref copyright) = episode.copyright { <p class="info copyright">Copyright @copyright</p> }
    </div>
    }
  </section>
})
