@use crate::models::{IssueRef, Title};
@use super::page;
@use super::statics::sortable_js;

@(titles: &[(Title, i64, IssueRef, IssueRef)])
@:page("Serier i Fantomentidningen", "Återkommade och engångs serier som publicerats i den svenska Fantomentidningen.", {
  <p>Antal episoder syftar på separata episoder. Om ett äventyr är
    publicerat i flera delar eller repriserat flera gånger så är det
    fortfarande ett äventyr.
    Några tidningar saknas fortfarande i indexet, serier och episoder
    publicerade där ingår naturligtvis inte i den här listan.</p>
}, {
<section>
  <table class="sortable">
    <thead>
      <tr><th class=" dir-d ">Titel</th><th>Antal <span class="ifwide">episoder</span></th><th>Först</th><th>Senast</th></tr>
    </thead>
    <tbody>
      @for (title, n, first, last) in titles {
      <tr><td><a href="@title.slug">@title.title</a></td><td>@n</td>
	<td data-sort="@first.sortno()">@first</td>
	<td data-sort="@last.sortno()">@last</td>
      </tr>
      }
    </tbody>
  </table>
</section>
<script type="application/javascript" async src="/s/@sortable_js.name"></script>
})
