@use crate::models::{Article, CreatorSet, IssueRef, RefKeySet, Title};
@use crate::server::FullEpisode;
@use super::{epmisc, page};

@(title: &Title, articles: &[(Article, RefKeySet, CreatorSet, Vec<IssueRef>)], episodes: &[FullEpisode])
@:page(&title.title, {
  <p>Här listas de gånger serien <strong>@title.title</strong>
    (<a href="http://seriewikin.serieframjandet.se/index.php/Special:Search?search=@title.title&amp;go=go"
	title="Sök &quot;@title.title&quot; i Seriewikin">Seriewikin</a>,
    <a href="http://sv.wikipedia.org/wiki/Special:Search?search=@title.title&amp;go=go"
       title="Sök &quot;@title.title&quot; i Svenska Wikipedia">wikipedia</a>)
    förekommer i mina indexerade fantomentidningar.</p>

  @if title.has_daystrip() || title.has_sundays() {
  <p>Du kan lista serierna efter
    <a href="/titles/@title.slug">publikation i Fantomentidningen</a>
    @if title.has_daystrip() { eller efter originalpublicerig som
    <a href="/titles/weekdays-@title.slug">dagstripp</a>
    }
    @if title.has_sundays() { eller
    <a href="/titles/sundays-@title.slug">söndagssidor</a>
    }
    (så långt information om ursprungspublicering finns med i indexet).</p>
  }
}, {
  @if !articles.is_empty() {
  <section>
    <h2>Artiklar</h2>
    @for (article, refs, creators, pubs) in articles {
    <div class="article">
      <h3>@article.title@if let Some(ref s) = article.subtitle {: @s}</h3>
      @refs
      @creators
      @if let Some(ref note) = article.note { <p class="info note">@note</p> }
      @if let Some((last_pub, pubs)) = pubs.split_last()
      {<p class="info pub">Publicerad i: @for p in pubs {@p, }@last_pub.</p>}
    </div>
    }
  </section>
  }
  <section>
    <h2>Episoder</h2>
    @for fe in episodes {
    <section class="episode">
      <h3>@if let Some(ref h) = fe.episode.episode {@h} else {@title.title}</h3>
      @:epmisc(&fe)
    </section>
    }
  </section>
})
