@use super::{artmisc_html, epmisc_html, page_html};
@use crate::models::{IssueRef, Title};
@use crate::server::{Paginator, FullArticle, FullEpisode};

@(title: &Title, pages: Option<&Paginator>, articles: &[(FullArticle, Vec<IssueRef>)], episodes: &[FullEpisode])
@:page_html(&title.title, &format!("De gånger serien {} publicerats i svenska Fantomentidningen.", title.title), {
  <p>Här listas de gånger serien <strong>@title.title</strong>
    (<a href="http://seriewikin.serieframjandet.se/index.php/Special:Search?search=@title.title&amp;go=go"
	title="Sök &quot;@title.title&quot; i Seriewikin">Seriewikin</a>,
    <a href="http://sv.wikipedia.org/wiki/Special:Search?search=@title.title&amp;go=go"
       title="Sök &quot;@title.title&quot; i Svenska Wikipedia">wikipedia</a>)
    förekommer i mina indexerade fantomentidningar.</p>

  @if title.has_daystrip() || title.has_sundays() {
  <p>Du kan lista serierna efter
    <a href="/titles/@title.slug">publikation i Fantomentidningen</a>
    @if title.has_daystrip() { eller efter originalpublicerig som
    <a href="/titles/weekdays-@title.slug">dagstripp</a>
    }
    @if title.has_sundays() { eller
    <a href="/titles/sundays-@title.slug">söndagssidor</a>
    }
    (så långt information om ursprungspublicering finns med i indexet).</p>
  }
  @if let Some(pages) = pages {
    <p>Episoderna kräver flera sidor: @pages.</p>
  }
}, {
  @if !articles.is_empty() {
  <section class="articles">
    <h2>Artiklar</h2>
    @for (article, pubs) in articles {
    <div class="article">
      @:artmisc_html(article)
      @if let Some((last_pub, pubs)) = pubs.split_last()
      {<p class="info pub">Publicerad i: @for p in pubs {@p, }@last_pub.</p>}
    </div>
    }
  </section>
  }
  <section>
    <h2>Episoder</h2>
    @for fe in episodes {
    <section class="episode @fe.bestclass()">
      <h3>@if let Some(ref h) = fe.episode.episode {@h} else {@title.title}</h3>
      @:epmisc_html(fe)
    </section>
    }
  </section>
})
