@use crate::models::{Creator, Issue};
@use crate::server::{PublishedInfo, PublishedContent::{EpisodePart, Text}, YearLinks};
@use super::{artmisc, epmisc, page};

@(year: u16, year_links: &YearLinks, issues: &[(Issue, Vec<Creator>, Vec<PublishedInfo>)])
@:page(&format!("Årgång {}", year), {
  <p>Se även @year_links.</p>
}, {
  @for (issue, cover_by, contents) in issues {
  <section class="issue" id="i@issue.number">
    <header>
      <h2>Nr @issue.number_str</h2>
      <div class="info">
	<img src="/c/f@issue.year-@issue.number&#46;jpg" alt="">
	<div class="innerinfo">
	  @if let Some((last_c, creators)) = cover_by.split_last()
	  {<p>Omslag av @for c in creators {@c, }@last_c.</p>}
	  @if let Some(b) = issue.cover_best {<p>Nr @b i bästa omslag.</p>}
	  @if issue.pages.is_some() || issue.price.is_some() {<p class="pp">
	    @if let Some(ref pages) = issue.pages {<span>@pages sidor</span>}
	    @if let Some(ref price) = issue.price {<span>Pris @price</span>}
	  </p>}
	</div>
      </div>
    </header>
    <div class="content">
      @for PublishedInfo{content, seqno, classnames} in contents {
      <section class="@classnames" @if let Some(seqno) = seqno {data-seq="@seqno"}>
	@match content {
	EpisodePart{title, episode, part, best_plac, label} => {
	@if label != "" {<p class="info label">@label:</p> }
	<h3><a href="/titles/@title.slug">@title.title</a>@if let Some(ref e) = episode.episode.episode {: @e} @part</h3>
	@:epmisc(&episode)
	@if let Some(plac) = best_plac { <p class="info best best@plac">Nummer @plac i omröstningen om bästa äventyr @year.</p>}
	}
	Text(article) => {@:artmisc(article)}
	}
      </section>
      }
    </div>
  </section>
  }
})
