@use crate::models::{Creator, Issue};
@use crate::server::{PublishedInfo, PublishedContent::{EpisodePart, Text}};
@use super::{epmisc, page};

@(year: u16, issues: &[(Issue, Vec<Creator>, Vec<PublishedInfo>)])
@:page(&format!("Årgång {}", year), {}, {
  @for (issue, cover_by, contents) in issues {
  <section class="issue" id="i@issue.number">
    <header>
      <h2>Nr @issue.number_str</h2>
      <img src="/c/f@issue.year-@issue.number&#46;jpg" alt="">
      @if let Some((last_c, creators)) = cover_by.split_last()
      {<p class="cover">Omslag av @for c in creators {@c, }@last_c.</p>}
      @if let Some(b) = issue.cover_best {<p>Nr @b i bästa omslag.</p>}
      @if let Some(ref pages) = issue.pages {<p class="pages">@pages sidor</p>}
      @if let Some(ref price) = issue.price {<p class="price">Pris @price</p>}
    </header>
    <div class="content">
      @for PublishedInfo{content, creators, refs, seqno, classnames} in contents {
      <div class="@classnames" @if let Some(seqno) = seqno {data-seq="@seqno"}>
	@if let EpisodePart{title, episode, part, published, best_plac} = content {
	<h3><a href="/titles/@title.slug">@title.title</a>@if let Some(ref e) = episode.episode {: @e} @part</h3>
	@:epmisc(episode, refs, creators, published)
	@if let Some(plac) = best_plac { <p class="info best best@plac">Nummer @plac i omröstningen om bästa äventyr @year.</p>}
	}
	@if let Text{title, subtitle, note} = content {
	<h3>@title@if let Some(ref s) = subtitle {: @s}</h3>
	@refs
	@creators
	@if let Some(ref note) = note { <p class="info note">@note</p> }
	}
      </div>
      }
    </div>
  </section>
  }
})
